.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  /* .imgContainer{
    height: 10px;
  }  */
  .image-design{
    width: 40%;
    height: auto;
  }

 .list-icons,
  .socials{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .socials {
    padding: 2rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 0 2px white;
    padding: 1em 1em;
    margin: 10px;
  }
  
  .socials .ico-circle:hover {
    background-color: black;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }
  
  .button-rouded {
    border-radius: 5rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    background-color: #ffe13a;
    margin-top: 20px;
  }

  .button-color{
    background-color: #ffe13a;
    color: black;
  }


.nav-color{
  background-color: #18223c;
  /* position: relative; */
}

.icon-top{
  font-size: 40px;
  width: 70px;
  height: 65px;
  color: white;
  background-color: #d5c455;
  border-radius: 50px;
  box-shadow: 0 0 2px black;
  position: relative;
  margin-top: -40px;
  margin-bottom: 20px;
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #d5c455;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}
.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #d5c455;
  width: 100px;
  bottom: -12px;
} 

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}